.weatherDash {
    color: white;
    text-align: center;
}

.col {
    height: 300px;
    width: 70%;
}

.capitalize
{
    text-transform:capitalize;
}

#searchArea {
    height: 100%;
}

.forecastCard {
    min-width: 150px;
    width: 10vw;
    height: 200px;
    background-color: blue;
    color: white;
}

#fiveDayForecast {
    display: flex;
    justify-content: space-evenly;
}

.cityHistory {
    width: 200px;
}