body {
    text-align: left;
}

#weatherDash {
    color: white;
    justify-content: center;
}

.col {
    height: 300px;
    width: 70%;
}

.capitalize
{
    text-transform:capitalize;
}

#searchArea {
    height: 100%;
    background-color: lightblue;
}

.forecastCard {
    min-width: 150px;
    width: 10vw;
    height: 200px;
    background-color: blue;
    color: white;
    padding: 10px;
}

.iconImage {
    height: 50px;
    width: 50px;
}

#fiveDayForecast {
    display: flex;
    justify-content: space-evenly;
}

.cityHistory {
    width: 250px;
}

.currentCard {
    margin-bottom: 10px;
}